<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="testNgDemo">
        <groups>
            <run>
                <include name="group02" />
                <include name="group01" />
            </run>
        </groups>
        <classes>
            <class name="example.Demo01" />
        </classes>
    </test>
</suite>
